/*warnign : cannot put dashes inside of css styles*/

.pixelfont {
    font-family: "Pixel";
}

.pixelselectable {
    font-family: "Pixel";
}

.pixelselectable:hover {
    color: rgba(126, 137, 184, 1); /* Color on hover */
}

.pixelSelectableWhite {
    font-family: "Pixel";
    color: white ;
}

.pixelSelectableWhite:hover {
    color: rgba(126, 137, 184, 1); /* Color on hover */
}


/*Nice accent ? */
/*adbcff*/